.nav-bar {
	background-color: red;
	height: 10vh;
	width: 100vw;

	display: grid;
	grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
	border: 1px solid black;

	.nav-links {
		background-color: purple;
		font-size: 0.75em;
	}
}
